* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App-header {
  background-color: orange;
  min-height: 100vh;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  margin-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}